/**
 * GatherPress Calendar Day Block Editor-Specific Styles
 *
 * @package GatherPressCalendar
 * @since 0.4.0
 */

.editor-styles-wrapper {

	.gatherpress-calendar__day {
		cursor: pointer;
		transition: outline-color 0.15s ease-in-out;

		> .block-editor-block-list__layout ,
		> .block-editor-block-preview__live-content {
			min-width: 100%;
		}

		&:hover {
			outline: 1px solid var(--wp--preset--color--primary, #007cba);
			outline-offset: -1px;
		}

		&.is-selected {
			outline: 2px solid var(--wp--preset--color--primary, #007cba);
			outline-offset: -2px;
			z-index: 1;
		}
	}
}
