/**
 * GatherPress Calendar Day Block Editor-Specific Styles
 *
 * @package GatherPressCalendar
 * @since 0.4.0
 */

.editor-styles-wrapper {

	.gatherpress-calendar__day {
		cursor: pointer;
		transition: outline-color 0.15s ease-in-out;

		> .block-editor-block-list__layout,
		> .block-editor-block-preview__live-content {
			min-width: 100%;
		}

		&:hover:not(:focus-within) {
			outline: 1px solid var(--wp-admin-theme-color, #007cba);
			outline-offset: -1px;
		}
	}
}
