/**
 * GatherPress Calendar Block Styles
 *
 * CSS-first approach with progressive enhancement.
 * Leverages modern CSS features:
 * - Container queries for responsive behavior
 * - CSS Grid for layout
 * - Intrinsic sizing with clamp()
 * - aspect-ratio for consistent shapes
 *
 * @package GatherPressCalendar
 * @since 0.1.0
 */
@use 'style/is-default.scss';

@use 'style/is-style-minimal.scss';
@use 'style/is-style-bold.scss';
@use 'style/is-style-circular.scss';
@use 'style/is-style-gradient.scss';

@use 'style/container-queries.scss';
@use 'style/media-queries.scss';
@use 'style/print.scss';
